<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiAiSDK" version="1.6.5" targetFramework="net45" />
  <package id="CalcBinding" version="2.5.2" targetFramework="net45" />
  <package id="DynamicExpresso.Core" version="2.3.1" targetFramework="net45" />
  <package id="EMGU.CV" version="3.4.1.2976" targetFramework="net45" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net45" />
  <package id="Monsoon.Setup.Leap2" version="1.1.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net45" />
</packages>