<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Selenium.Support" version="4.22.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.22.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="126.0.6478.6300" targetFramework="net48" />
  <package id="Selenium.WebDriver.IEDriver" version="4.14.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net45" />
  <package id="System.Drawing.Common" version="8.0.1" targetFramework="net48" />
  <package id="TaskScheduler" version="2.10.1" targetFramework="net45" />
  <package id="WatiN" version="2.1.0" targetFramework="net461" />
</packages>